html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* --------------------------------------------------TOP */

.TopDiv{
  background-color: #1B1C1D;
}

.TopInnerDiv{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.TopLogoDiv > img{
  width: 90px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.MenuIcon {
  fill: white;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

/* --------------------------------------------------ABOUT */

.content{
  margin: auto;
  width: 1000px;
  margin-top: 40px;
}